body{
  background-color: lightgray;
  text-align: center;
  border: 1px solid black;
  width: 960px;
  margin: auto;
}

#left{
  order:1;
  flex-shrink:2;
}

#right{
  order:3;
  flex-shrink:2;
}



#left, #right{
  height: 500px;
}


#main{
  height: 500px;
  order:2;
  flex-shrink:1;
}

main{
  display:flex;
}